div.filmcard{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.05);
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    padding-bottom: 20px;
    width: 300px;
}

h2.filmcard{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

div.filmcard-content{
    display: flex;
    justify-content: space-between;
}

div.filmcard-grade{
    font-size: 45px;
    font-weight: bold;
    color: #4EBC30;
}