div.film-content{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

div.cards{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 1337px;
}