div.topbanner{
    height: 200px;
    background-color: #EFEFEF;
    padding-left: 10px;
    padding-top: 10px;
}

center.topbanner{
    font-size: 50px;
    font-weight: bold;
    color: #707070;
    position: absolute;
    top: 110px;
    text-align: center;
    width: 99%;
}

@media(max-width: 1120px){
    img.topbanner{
        display: none;
    }
}