div.menu{
    display: flex;
}

nav.menu{
    padding: 10px;
    background-color: #fff;
}

nav:hover.menu{
    padding: 10px;
    background-color: #EFEFEF;
}

a.menu{
    text-decoration: none;
    font-size: 20px;
    color: #707070;
    font-weight: bold;
}