div.home-form{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

h3.home-form{
    font-size: 16px;
}

p.home-form{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

input.home-form{
    padding: 5px;
    color: #707070;
    font-size: 14px;
    border-color: #707070;
    border-width: 1px;
}

.home-form-icon{
    color: #333;
}

.home-form-icon:hover{
    color: #707070;
}

.home-form-icon:active{
    scale: 1.1;
}