@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    font-family: Roboto;
}

h1{
    font-size: 38px;
}

h2{
    font-size: 28px
}

.content{
    background-color: #EFEFEF;
    color: #707070;
    margin-top: 0px;
    padding: 10px;
    min-height: 580px;
}